# Python
back-end/.venv/
.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.env.*

# Models & artifacts (pakai LFS jika perlu)
*.joblib
*.pickle
*.model

# OS/Editor
.DS_Store
Thumbs.db
.vscode/

# Node (jika nanti ada)
node_modules/